.card {
  width: 200px;
  height: 300px;
  position: relative;
  text-align: center;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.card > img {
  width: 100%;
  height: 100%;
  filter: brightness(95%);
  border-radius: 8px;
}
.card :hover {
  border: 2px solid orange;
  filter: brightness(100%);
}
